<h1> <%= @list.name %> </h1>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list)%>

<ul>
<% @list.bookmarks.each do |bookmark| %>
<li> <%= bookmark.comment %> - <%= bookmark.movie.title %> - <%= link_to "ðŸ—‘ï¸", bookmark_path(bookmark), data: {turbo_method: "delete", turbo_confirm: "Are you sure you want to remove it ?"} %></li>
<% end %>
</ul>


<%= link_to "delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
<%= link_to 'Back', lists_path %>
